
<%= form_for(@visit) do |f| %> 
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this customer from being saved:</h2>
        <ul>
        <% @visit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
    </div>
<% end %> 

  <div class="field"> 
    <%= f.label :title %><br> 
    <%= f.text_field :title %> 
  </div> 
  <div class="field"> 
    <%= f.label :observation %><br> 
    <%= f.text_area :observation %> 
  </div>
  <div class="actions"> 
    <%= f.submit "Guardar", class:"btn btn-primary" %></br>
    <%= link_to 'Regresar', visit_path(:id), class:"btn btn-primary" %>
  </div> 
<% end %>    