
<%= form_for([@customer, @pet]) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form class="form-inline">
  <div class="field form-group table-show">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :breed %>
    <%= f.text_field :breed %>
    <%= f.label :age %>
    <%= f.text_field :age %>
    <%= f.submit class:"btn btn-primary btn-show" %>
  </div>
<% end %>
</form>
