
<!-- Top menu -->
<nav class="navbar navbar-fixed-top " role="navigation">
  <div class="container">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top-navbar-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><%= link_to "Inicio", root_path %><span class="sr-only">(current)</span></li>
        <li><a class="scroll-link" href="#responsive">¿Quiénes somos?</a></li>
        <li><a class="scroll-link" href="#intro">Nuestros servicios</a></li>
        <li><a class="scroll-link" href="#contact">Contacto</a></li>
          <% if user_signed_in? %>
            <li><%= current_user.veterinary.name %></li>
            <li><%= current_user.email %></li>
            <li><%= link_to "Salir", destroy_user_session_path, method: :delete %></li>
          <% else %>
              <li><%= link_to "Entrar", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
    
    <section class="hero swag1" id="hero">
            <div class="container ">
              <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center inner">
                  <h1 class="animated fadeInDown">Mi <span>Veterinaria</span></h1>
                  <p class="animated fadeInUp delay-05s">Un sistema de administración eficaz para <em>clínicas veterinarias.</em></p>
                </div>
              </div>
            </div>
          </section>
        

        <section class="text-center swag3" id="responsive">
          <div class="container-fluid nopadding responsive-services">
            <div class="wrapper">
              <div class="iphone">
                <div class="wp3 animated fadeInDown"></div>
              </div>
              <div class="fluid-white"></div>
            </div>
            <div class="container designs">
              <div class="row">
                <div class="col-md-5 col-md-offset-7">
                  <div id="servicesSlider">
                    <div class"flex-viewport">
                      <ul class="slides">
                        <li class="clone">
                          <h1 class="arrowS">¿Quiénes somos?</h1>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero. </p>
                          <p>
                          Mauris ultrices odio vitae nulla ultrices iaculis. Nulla rhoncus odio eu lectus faucibus facilisis. Maecenas ornare augue vitae sollicitudin accumsan. </p>
                          <p>Etiam eget libero et erat eleifend consectetur a nec lectus. Sed id tellus lorem. Suspendisse sed venenatis odio, quis lobortis eros.</p>
                        </li>
                        <li>
                          <h1 class="arrowS">Bootstrap Professionals</h1>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero. </p>
                          <p>
                          Mauris ultrices odio vitae nulla ultrices iaculis. Nulla rhoncus odio eu lectus faucibus facilisis. Maecenas ornare augue vitae sollicitudin accumsan. </p>
                          <p>Etiam eget libero et erat eleifend consectetur a nec lectus. Sed id tellus lorem. Suspendisse sed venenatis odio, quis lobortis eros.</p>
                        </li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="intro text-center section-padding swag4" id="intro">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 ">
                <h1 class="arrow">Nuestros servicios</h1>
                <p>Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent id tempor ipsum. Fusce at massa ac nunc porta fringilla sed eget neque. Quisque quis pretium nulla. Fusce eget bibendum neque, vel volutpat augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
              </div>
            </div>
          </div>
        </section>

        <section class="features text-center section-padding swag4" id="features">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrowS">Tenemos la solución, para una buena administración de tu negocio</h1>
                <div class="features-wrapper">
                  <div class="col-md-4 ">
                    <div class="icon">
                      <i class="fa fa-laptop shadow"></i>
                    </div>
                    <h2>Acceso 24/7</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
                    primis in faucibus.</p>
                  </div>
                  <div class="col-md-4 delay-05s">
                    <div class="icon">
                      <i class="fa fa-code shadow"></i>
                    </div>
                    <h2>Soporte Técnico</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
                    primis in faucibus.</p>
                  </div>
                  <div class="col-md-4 delay-1s">
                    <div class="icon">
                      <i class="fa fa-heart shadow"></i>
                    </div>
                    <h2>Creatividad</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
                    primis in faucibus.</p>
                  </div>
                  
              </div>
            </div>
          </div>
        </section>

        
        <section class="swag text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h1>I got 99 Problems<span>but <em>design</em> 'aint one</span></h1>
              </div>
            </div>
          </div>
        
        
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p class="ignite-btn">¡ Entendemos tu pasión !</p>
              </div>
            </div>
          </div>
        
        </section>
        
        <div class="row swag" id="contact">
        <div class="col-sm-6 contact-form fadeInUp">
                      <h3>Necesitas información? Escríbenos:</h3>
                      <form role="form" action="#" method="post">
                        <div class="form-group">
                          <label class="sr-only" for="contact-email">Correo Electrónico</label>
                            <input type="text" name="email" placeholder="Email..." class="contact-email form-control" id="contact-email">
                          </div>
                          <div class="form-group">
                            <label class="sr-only" for="contact-subject">Asunto</label>
                            <input type="text" name="subject" placeholder="Asunto..." class="contact-subject form-control" id="contact-subject">
                          </div>
                          <div class="form-group">
                            <label class="sr-only" for="contact-message">Mensaje</label>
                            <textarea name="message" placeholder="Mensaje..." class="contact-message form-control" id="contact-message"></textarea>
                          </div>
                          <button type="submit" class="btn btn-primary">Enviar</button>
                      </form>
                  </div>
              </div>
              
              
        <section class="dark-bg text-center section-padding contact-wrap" id="contact">
          <a href="#top" class="up-btn" ><i class="fa fa-chevron-up"></i></a>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">Contacto</h1>
              </div>
            </div>
            <div class="row contact-details">
              <div class="col-md-4">
                <div class="light-box box-hover">
                  <h2><i class="fa fa-map-marker"></i><span>Oficinas</span></h2>
                  <p>CDMX</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="light-box box-hover">
                  <h2><i class="fa fa-mobile"></i><span>Teléfono</span></h2>
                  <p>+52 55 5555 5555</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="light-box box-hover">
                  <h2><i class="fa fa-paper-plane"></i><span>Correo electrónico</span></h2>
                  <p>info@ebm-proyect.com</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul class="social-buttons">
                  <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        