
<body class="authentication">
  <div class="header" role="banner">
	<div class="container clearfix">
	  <a class="header-logo" href="#">aqui va el logo para inicio</a>
	</div>
  </div>
  <div role="main" class="main-content">
	<div class="autoform" id="login">
	  <h2><%= t('.sign_in', :default => "Sign in") %></h2>
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <div id="email"><%= f.label :email , :id => 'email' %><br />
			 <%= f.email_field :email, :class => 'email'%></div>

		  <div id="password"><%= f.label :password, :id => 'password' %><br />
			  <%= f.password_field :password, :class => 'password' %></div>

		  <% if devise_mapping.rememberable? -%>
		  <div><%= f.check_box :remember_me %> <%= f.label :remember_me, :id => 'remember_me' %></div>
		<% end -%>

		<div><%= f.submit t('.sign_in', :default => "Sign in"), :class => 'btn btn-primary' %></div>
		<% end %>
	</div>
  </div>
</body>