<!DOCTYPE html>
<html lang="es">
<head>
  <title>Mi Veterinaria</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="shortcut icon" <%= image_tag 'favicon.ico' %>
  <link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Sniglet' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

</head>
<body>
<header>
<% if current_user %>
  <nav class="navbar navbar-fixed-top " role="navigation">
    <div class="container">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="top-navbar-1">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>Bienvenido &nbsp;<%= current_user.name %></li><br/>
            <li><%= current_user.veterinary.name %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
            <% if user_signed_in? %>
              <li><button type="button" class="btn btn-danger"><%= link_to "Salir", destroy_user_session_path, method: :delete %></button></li>
            <% else %>
              <li><button type="button" class="btn btn-primary"><%= link_to "Entrar", new_user_session_path %></button></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </div>
  </nav>
<% end %>
</header>

<%= yield %>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="legals">
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Aviso de privacidad</a></li>
          </ul>
        </div>
        <div class="col-md-6 credit">
          <p>Realizado por <a href="#">ebm-proyect</a></p>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
